.MarkDownStyle {
    font-size: 1rem;
    line-height: 2.5rem;
}

.InlineCodeStyle {
    background: yellow;
}

.BlockQuoteStyle {
    padding: 1rem;
    background-color: #e5eaee;
    border-left: 5px solid #6d6eeb;
    margin-left: 0;
}

.allowDrag {
    -ms-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}