@import "../App.module.scss";

$menuColor: #FFFFFF;
$menuHeight: 85px;
$menuLeftMargin: 100px;

#MenuBar {
    background-color: $menuColor;
    height: $menuHeight;
    box-shadow: 0px 2px 10px 1px rgb(212, 212, 212);
    $paddingValue: calc((100vw - #{$pageWidth}) / 2);
    padding: 0 $paddingValue 0 $paddingValue;
}

#logo {
    cursor: pointer;
    & > img {
        float: left;
        margin-top: ($menuHeight - 60px) / 2;
        margin-bottom: ($menuHeight - 60px) / 2;
        height: 60px;
        width: 60px;
    }

    & > div {
        display: flex;
        align-items: center;
        float: left;
        padding-left: 10px;
        height: $menuHeight;
        font-size: 1.7rem;
        font-family: ElandChoiceB;
    }
}

#member {
    float: right;
    margin-top: ($menuHeight - 30px) / 2;
    margin-bottom: ($menuHeight - 30px) / 2;
    height: 30px;
    width: 30px;
}

#menu {
    font-family: ElandChoiceM;
    float: left;
    display: flex;
    height: 100%;
    margin: 0 0 0 $menuLeftMargin;
    & > div {
        display: flex;
        align-items: center;
        & > span {
            margin-top: 3px;
            cursor: pointer;
        }
    }
}