@import "../App.module.scss";
@import "../component/MenuBar.module.scss";

@mixin DefaultArticle {
    height: calc(100vh - #{$menuHeight} - 200px);
    $paddingValue: calc((100vw - #{$pageWidth}) / 2);
    padding: 100px $paddingValue 100px $paddingValue;
}