@use "../App.module.scss" as *;
@use "../component/MenuBar.module.scss";

@mixin Article {
    height: calc(100vh - #{MenuBar.$menuHeight} - 200px);
    $paddingValue: calc((100vw - #{$pageWidth}) / 2);
    padding: 100px $paddingValue 100px $paddingValue;
}